# Importing libraries

#01 Importing libraries

In [31]:
import pandas as pd
import numpy as np
import os

#02 Importing data

In [33]:
# Importing the df_ords_prior dataframe
df_ords_prior = pd.read_csv(r'/Users/peterguan/Instacart Basket Analysis/02 Data/Original Data/orders_products_prior.csv', index_col = False)

In [34]:
path = R'/Users/peterguan/Instacart Basket Analysis'

In [35]:
path

'/Users/peterguan/Instacart Basket Analysis'

In [36]:
# Checking the dimensions of 'df_ords_prior' dataframe
df_ords_prior.shape

(32434489, 4)

In [37]:
# Importing the 'df_ords_checked' dataframe
df_ords = pd.read_csv(r'/Users/peterguan/Instacart Basket Analysis/02 Data/Prepared Data/orders_checked.csv', index_col = False)

In [38]:
# Checking the dimensions
df_ords.shape

(3421083, 8)

In [39]:
# Checking the top 5 rows in the 'df_ords_prior' dataframe
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [40]:
# Checking the top 5 rows in the dataframe
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [41]:
# Creates a new dataframe called 'df_merged_large' that contains both the 'df_ords' and 'df_ords_prior' dataframes
# and uses the 'order_id' as its key. Indicator = true checks for a true match
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [42]:
# Checking the top 5 rows
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [43]:
# Counting (sum) how many values in the '_merge' column
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

#03 Exporting Data

In [45]:
df_merged_large.shape

(32434489, 12)

In [46]:
# Exporting data as a 'pkl' file
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))